/* .App {
  text-align:center;
  background-color: black;
  
} */
/* .Navigation-Menu{
  color: black;
  width: 100%;
  padding-top:2%;
  padding-inline-start: 1%;
  background-color: rgb(10, 105, 89);
  display: flex;
  justify-content:space-around;
  align-items: flex-end;
  margin: auto;
  
}  */

.Container {
    position: relative;
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background-Color: #CBD3EA;
}

.background-Div {
    position: fixed;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-Color: #CBD3EA;
    width: 100%;
    height: 100%;
    z-index: -30;
    width: 100%;
}
